$melt-blue: #00b2e2;
$deep-blue: #1c75bc;
$lime-green: #79cd3f;
$blue-gray: #263340;
$white: #ffffff;
$slate: rgba(237,244,255,0.4);
$gold: #f6be25;
$red: #ff3d11;
$magenta: #ee2a7b;
$purple: #9e1f63;
