
// Converted Variables


// Custom Media Query Variables


/*

   BORDER WIDTHS
   Docs: http://tachyons.io/docs/themes/borders/

   Base:
     bw = border-width

   Modifiers:
     0 = 0 width border
     1 = 1st step in border-width scale
     2 = 2nd step in border-width scale
     3 = 3rd step in border-width scale
     4 = 4th step in border-width scale
     5 = 5th step in border-width scale

   Media Query Extensions:
     -xs = not-small
     -sm  = medium
     -md  = large

*/

.bw0 {
  border-width: 0;
}

.bw1 {
  border-width: .125rem;
}

.bw2 {
  border-width: .25rem;
}

.bw3 {
  border-width: .5rem;
}

.bw4 {
  border-width: 1rem;
}

.bw5 {
  border-width: 2rem;
}

/* Resets */
.bt-0 {
  border-top-width: 0;
}

.br-0 {
  border-right-width: 0;
}

.bb-0 {
  border-bottom-width: 0;
}

.bl-0 {
  border-left-width: 0;
}

@include breakpoint($bp--xsmall) {
  .bw0-xs {
    border-width: 0;
  }

  .bw1-xs {
    border-width: .125rem;
  }

  .bw2-xs {
    border-width: .25rem;
  }

  .bw3-xs {
    border-width: .5rem;
  }

  .bw4-xs {
    border-width: 1rem;
  }

  .bw5-xs {
    border-width: 2rem;
  }

  .bt-0-xs {
    border-top-width: 0;
  }

  .br-0-xs {
    border-right-width: 0;
  }

  .bb-0-xs {
    border-bottom-width: 0;
  }

  .bl-0-xs {
    border-left-width: 0;
  }
}

@include breakpoint($bp--small) {
  .bw0-sm {
    border-width: 0;
  }

  .bw1-sm {
    border-width: .125rem;
  }

  .bw2-sm {
    border-width: .25rem;
  }

  .bw3-sm {
    border-width: .5rem;
  }

  .bw4-sm {
    border-width: 1rem;
  }

  .bw5-sm {
    border-width: 2rem;
  }

  .bt-0-sm {
    border-top-width: 0;
  }

  .br-0-sm {
    border-right-width: 0;
  }

  .bb-0-sm {
    border-bottom-width: 0;
  }

  .bl-0-sm {
    border-left-width: 0;
  }
}

@include breakpoint($bp--medium) {
  .bw0-md {
    border-width: 0;
  }

  .bw1-md {
    border-width: .125rem;
  }

  .bw2-md {
    border-width: .25rem;
  }

  .bw3-md {
    border-width: .5rem;
  }

  .bw4-md {
    border-width: 1rem;
  }

  .bw5-md {
    border-width: 2rem;
  }

  .bt-0-md {
    border-top-width: 0;
  }

  .br-0-md {
    border-right-width: 0;
  }

  .bb-0-md {
    border-bottom-width: 0;
  }

  .bl-0-md {
    border-left-width: 0;
  }
}

@include breakpoint($bp--large) {
  .bw0-lg {
    border-width: 0;
  }

  .bw1-lg {
    border-width: .125rem;
  }

  .bw2-lg {
    border-width: .25rem;
  }

  .bw3-lg {
    border-width: .5rem;
  }

  .bw4-lg {
    border-width: 1rem;
  }

  .bw5-lg {
    border-width: 2rem;
  }

  .bt-0-lg {
    border-top-width: 0;
  }

  .br-0-lg {
    border-right-width: 0;
  }

  .bb-0-lg {
    border-bottom-width: 0;
  }

  .bl-0-lg {
    border-left-width: 0;
  }
}

@include breakpoint($bp--medium) {
  .bw0-xl {
    border-width: 0;
  }

  .bw1-xl {
    border-width: .125rem;
  }

  .bw2-xl {
    border-width: .25rem;
  }

  .bw3-xl {
    border-width: .5rem;
  }

  .bw4-xl {
    border-width: 1rem;
  }

  .bw5-xl {
    border-width: 2rem;
  }

  .bt-0-xl {
    border-top-width: 0;
  }

  .br-0-xl {
    border-right-width: 0;
  }

  .bb-0-xl {
    border-bottom-width: 0;
  }

  .bl-0-xl {
    border-left-width: 0;
  }
}
