
// Converted Variables


// Custom Media Query Variables


/*

  BOX-SHADOW
  Docs: http://tachyons.io/docs/themes/box-shadow/

  Media Query Extensions:
   -xs = not-small
   -sm  = medium
   -md  = large

 */

.shadow-1 {
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
}

.shadow-2 {
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
}

.shadow-3 {
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.shadow-4 {
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

.shadow-5 {
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

@include breakpoint($bp--xsmall) {
  .shadow-1-xs {
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
  }

  .shadow-2-xs {
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
  }

  .shadow-3-xs {
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  }

  .shadow-4-xs {
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
  }

  .shadow-5-xs {
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
  }
}

@include breakpoint($bp--small) {
  .shadow-1-sm {
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
  }

  .shadow-2-sm {
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
  }

  .shadow-3-sm {
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  }

  .shadow-4-sm {
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
  }

  .shadow-5-sm {
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
  }
}

@include breakpoint($bp--medium) {
  .shadow-1-md {
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
  }

  .shadow-2-md {
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
  }

  .shadow-3-md {
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  }

  .shadow-4-md {
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
  }

  .shadow-5-md {
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
  }
}

@include breakpoint($bp--large) {
  .shadow-1-lg {
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
  }

  .shadow-2-lg {
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
  }

  .shadow-3-lg {
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  }

  .shadow-4-lg {
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
  }

  .shadow-5-lg {
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
  }
}

@include breakpoint($bp--xlarge) {
  .shadow-1-xl {
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
  }

  .shadow-2-xl {
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
  }

  .shadow-3-xl {
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  }

  .shadow-4-xl {
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
  }

  .shadow-5-xl {
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
  }
}
