
// Converted Variables


// Custom Media Query Variables


/*

   LETTER SPACING
   Docs: http://tachyons.io/docs/typography/tracking/

   Media Query Extensions:
     -xs = not-small
     -sm  = medium
     -md  = large

*/

.tracked {
  letter-spacing: .1em;
}

.tracked-tight {
  letter-spacing: -.05em;
}

.tracked-mega {
  letter-spacing: .25em;
}

@include breakpoint($bp--xsmall) {
  .tracked-xs {
    letter-spacing: .1em;
  }

  .tracked-tight-xs {
    letter-spacing: -.05em;
  }

  .tracked-mega-xs {
    letter-spacing: .25em;
  }
}

@include breakpoint($bp--small) {
  .tracked-sm {
    letter-spacing: .1em;
  }

  .tracked-tight-sm {
    letter-spacing: -.05em;
  }

  .tracked-mega-sm {
    letter-spacing: .25em;
  }
}

@include breakpoint($bp--medium) {
  .tracked-md {
    letter-spacing: .1em;
  }

  .tracked-tight-md {
    letter-spacing: -.05em;
  }

  .tracked-mega-md {
    letter-spacing: .25em;
  }
}

@include breakpoint($bp--large) {
  .tracked-lg {
    letter-spacing: .1em;
  }

  .tracked-tight-lg {
    letter-spacing: -.05em;
  }

  .tracked-mega-lg {
    letter-spacing: .25em;
  }
}

@include breakpoint($bp--xlarge) {
  .tracked--xl {
    letter-spacing: .1em;
  }

  .tracked-tight--xl {
    letter-spacing: -.05em;
  }

  .tracked-mega--xl {
    letter-spacing: .25em;
  }
}
