
// Converted Variables


// Custom Media Query Variables


/*
   NEGATIVE MARGINS

   Base:
     n = negative

   Modifiers:
     a = all
     t = top
     r = right
     b = bottom
     l = left

     1 = 1st step in spacing scale
     2 = 2nd step in spacing scale
     3 = 3rd step in spacing scale
     4 = 4th step in spacing scale
     5 = 5th step in spacing scale
     6 = 6th step in spacing scale
     7 = 7th step in spacing scale

   Media Query Extensions:
     -xs = not-small
     -sm  = medium
     -md  = large

*/



.na1 {
  margin: -$spacing--1;
}

.na2 {
  margin: -$spacing--2;
}

.na3 {
  margin: -$spacing--3;
}

.na4 {
  margin: -$spacing--4;
}

.na5 {
  margin: -$spacing--5;
}

.na6 {
  margin: -$spacing--6;
}

.na7 {
  margin: -$spacing--7;
}

.nl1 {
  margin-left: -$spacing--1;
}

.nl2 {
  margin-left: -$spacing--2;
}

.nl3 {
  margin-left: -$spacing--3;
}

.nl4 {
  margin-left: -$spacing--4;
}

.nl5 {
  margin-left: -$spacing--5;
}

.nl6 {
  margin-left: -$spacing--6;
}

.nl7 {
  margin-left: -$spacing--7;
}

.nr1 {
  margin-right: -$spacing--1;
}

.nr2 {
  margin-right: -$spacing--2;
}

.nr3 {
  margin-right: -$spacing--3;
}

.nr4 {
  margin-right: -$spacing--4;
}

.nr5 {
  margin-right: -$spacing--5;
}

.nr6 {
  margin-right: -$spacing--6;
}

.nr7 {
  margin-right: -$spacing--7;
}

.nb1 {
  margin-bottom: -$spacing--1;
}

.nb2 {
  margin-bottom: -$spacing--2;
}

.nb3 {
  margin-bottom: -$spacing--3;
}

.nb4 {
  margin-bottom: -$spacing--4;
}

.nb5 {
  margin-bottom: -$spacing--5;
}

.nb6 {
  margin-bottom: -$spacing--6;
}

.nb7 {
  margin-bottom: -$spacing--7;
}

.nt1 {
  margin-top: -$spacing--1;
}

.nt2 {
  margin-top: -$spacing--2;
}

.nt3 {
  margin-top: -$spacing--3;
}

.nt4 {
  margin-top: -$spacing--4;
}

.nt5 {
  margin-top: -$spacing--5;
}

.nt6 {
  margin-top: -$spacing--6;
}

.nt7 {
  margin-top: -$spacing--7;
}

@include breakpoint($bp--xsmall) {
  .na1-xs {
    margin: -$spacing--1;
  }

  .na2-xs {
    margin: -$spacing--2;
  }

  .na3-xs {
    margin: -$spacing--3;
  }

  .na4-xs {
    margin: -$spacing--4;
  }

  .na5-xs {
    margin: -$spacing--5;
  }

  .na6-xs {
    margin: -$spacing--6;
  }

  .na7-xs {
    margin: -$spacing--7;
  }

  .nl1-xs {
    margin-left: -$spacing--1;
  }

  .nl2-xs {
    margin-left: -$spacing--2;
  }

  .nl3-xs {
    margin-left: -$spacing--3;
  }

  .nl4-xs {
    margin-left: -$spacing--4;
  }

  .nl5-xs {
    margin-left: -$spacing--5;
  }

  .nl6-xs {
    margin-left: -$spacing--6;
  }

  .nl7-xs {
    margin-left: -$spacing--7;
  }

  .nr1-xs {
    margin-right: -$spacing--1;
  }

  .nr2-xs {
    margin-right: -$spacing--2;
  }

  .nr3-xs {
    margin-right: -$spacing--3;
  }

  .nr4-xs {
    margin-right: -$spacing--4;
  }

  .nr5-xs {
    margin-right: -$spacing--5;
  }

  .nr6-xs {
    margin-right: -$spacing--6;
  }

  .nr7-xs {
    margin-right: -$spacing--7;
  }

  .nb1-xs {
    margin-bottom: -$spacing--1;
  }

  .nb2-xs {
    margin-bottom: -$spacing--2;
  }

  .nb3-xs {
    margin-bottom: -$spacing--3;
  }

  .nb4-xs {
    margin-bottom: -$spacing--4;
  }

  .nb5-xs {
    margin-bottom: -$spacing--5;
  }

  .nb6-xs {
    margin-bottom: -$spacing--6;
  }

  .nb7-xs {
    margin-bottom: -$spacing--7;
  }

  .nt1-xs {
    margin-top: -$spacing--1;
  }

  .nt2-xs {
    margin-top: -$spacing--2;
  }

  .nt3-xs {
    margin-top: -$spacing--3;
  }

  .nt4-xs {
    margin-top: -$spacing--4;
  }

  .nt5-xs {
    margin-top: -$spacing--5;
  }

  .nt6-xs {
    margin-top: -$spacing--6;
  }

  .nt7-xs {
    margin-top: -$spacing--7;
  }
}

@include breakpoint($bp--small) {
  .na1-sm {
    margin: -$spacing--1;
  }

  .na2-sm {
    margin: -$spacing--2;
  }

  .na3-sm {
    margin: -$spacing--3;
  }

  .na4-sm {
    margin: -$spacing--4;
  }

  .na5-sm {
    margin: -$spacing--5;
  }

  .na6-sm {
    margin: -$spacing--6;
  }

  .na7-sm {
    margin: -$spacing--7;
  }

  .nl1-sm {
    margin-left: -$spacing--1;
  }

  .nl2-sm {
    margin-left: -$spacing--2;
  }

  .nl3-sm {
    margin-left: -$spacing--3;
  }

  .nl4-sm {
    margin-left: -$spacing--4;
  }

  .nl5-sm {
    margin-left: -$spacing--5;
  }

  .nl6-sm {
    margin-left: -$spacing--6;
  }

  .nl7-sm {
    margin-left: -$spacing--7;
  }

  .nr1-sm {
    margin-right: -$spacing--1;
  }

  .nr2-sm {
    margin-right: -$spacing--2;
  }

  .nr3-sm {
    margin-right: -$spacing--3;
  }

  .nr4-sm {
    margin-right: -$spacing--4;
  }

  .nr5-sm {
    margin-right: -$spacing--5;
  }

  .nr6-sm {
    margin-right: -$spacing--6;
  }

  .nr7-sm {
    margin-right: -$spacing--7;
  }

  .nb1-sm {
    margin-bottom: -$spacing--1;
  }

  .nb2-sm {
    margin-bottom: -$spacing--2;
  }

  .nb3-sm {
    margin-bottom: -$spacing--3;
  }

  .nb4-sm {
    margin-bottom: -$spacing--4;
  }

  .nb5-sm {
    margin-bottom: -$spacing--5;
  }

  .nb6-sm {
    margin-bottom: -$spacing--6;
  }

  .nb7-sm {
    margin-bottom: -$spacing--7;
  }

  .nt1-sm {
    margin-top: -$spacing--1;
  }

  .nt2-sm {
    margin-top: -$spacing--2;
  }

  .nt3-sm {
    margin-top: -$spacing--3;
  }

  .nt4-sm {
    margin-top: -$spacing--4;
  }

  .nt5-sm {
    margin-top: -$spacing--5;
  }

  .nt6-sm {
    margin-top: -$spacing--6;
  }

  .nt7-sm {
    margin-top: -$spacing--7;
  }
}

@include breakpoint($bp--medium) {
  .na1-md {
    margin: -$spacing--1;
  }

  .na2-md {
    margin: -$spacing--2;
  }

  .na3-md {
    margin: -$spacing--3;
  }

  .na4-md {
    margin: -$spacing--4;
  }

  .na5-md {
    margin: -$spacing--5;
  }

  .na6-md {
    margin: -$spacing--6;
  }

  .na7-md {
    margin: -$spacing--7;
  }

  .nl1-md {
    margin-left: -$spacing--1;
  }

  .nl2-md {
    margin-left: -$spacing--2;
  }

  .nl3-md {
    margin-left: -$spacing--3;
  }

  .nl4-md {
    margin-left: -$spacing--4;
  }

  .nl5-md {
    margin-left: -$spacing--5;
  }

  .nl6-md {
    margin-left: -$spacing--6;
  }

  .nl7-md {
    margin-left: -$spacing--7;
  }

  .nr1-md {
    margin-right: -$spacing--1;
  }

  .nr2-md {
    margin-right: -$spacing--2;
  }

  .nr3-md {
    margin-right: -$spacing--3;
  }

  .nr4-md {
    margin-right: -$spacing--4;
  }

  .nr5-md {
    margin-right: -$spacing--5;
  }

  .nr6-md {
    margin-right: -$spacing--6;
  }

  .nr7-md {
    margin-right: -$spacing--7;
  }

  .nb1-md {
    margin-bottom: -$spacing--1;
  }

  .nb2-md {
    margin-bottom: -$spacing--2;
  }

  .nb3-md {
    margin-bottom: -$spacing--3;
  }

  .nb4-md {
    margin-bottom: -$spacing--4;
  }

  .nb5-md {
    margin-bottom: -$spacing--5;
  }

  .nb6-md {
    margin-bottom: -$spacing--6;
  }

  .nb7-md {
    margin-bottom: -$spacing--7;
  }

  .nt1-md {
    margin-top: -$spacing--1;
  }

  .nt2-md {
    margin-top: -$spacing--2;
  }

  .nt3-md {
    margin-top: -$spacing--3;
  }

  .nt4-md {
    margin-top: -$spacing--4;
  }

  .nt5-md {
    margin-top: -$spacing--5;
  }

  .nt6-md {
    margin-top: -$spacing--6;
  }

  .nt7-md {
    margin-top: -$spacing--7;
  }
}

@include breakpoint($bp--large) {
  .na1-lg {
    margin: -$spacing--1;
  }

  .na2-lg {
    margin: -$spacing--2;
  }

  .na3-lg {
    margin: -$spacing--3;
  }

  .na4-lg {
    margin: -$spacing--4;
  }

  .na5-lg {
    margin: -$spacing--5;
  }

  .na6-lg {
    margin: -$spacing--6;
  }

  .na7-lg {
    margin: -$spacing--7;
  }

  .nl1-lg {
    margin-left: -$spacing--1;
  }

  .nl2-lg {
    margin-left: -$spacing--2;
  }

  .nl3-lg {
    margin-left: -$spacing--3;
  }

  .nl4-lg {
    margin-left: -$spacing--4;
  }

  .nl5-lg {
    margin-left: -$spacing--5;
  }

  .nl6-lg {
    margin-left: -$spacing--6;
  }

  .nl7-lg {
    margin-left: -$spacing--7;
  }

  .nr1-lg {
    margin-right: -$spacing--1;
  }

  .nr2-lg {
    margin-right: -$spacing--2;
  }

  .nr3-lg {
    margin-right: -$spacing--3;
  }

  .nr4-lg {
    margin-right: -$spacing--4;
  }

  .nr5-lg {
    margin-right: -$spacing--5;
  }

  .nr6-lg {
    margin-right: -$spacing--6;
  }

  .nr7-lg {
    margin-right: -$spacing--7;
  }

  .nb1-lg {
    margin-bottom: -$spacing--1;
  }

  .nb2-lg {
    margin-bottom: -$spacing--2;
  }

  .nb3-lg {
    margin-bottom: -$spacing--3;
  }

  .nb4-lg {
    margin-bottom: -$spacing--4;
  }

  .nb5-lg {
    margin-bottom: -$spacing--5;
  }

  .nb6-lg {
    margin-bottom: -$spacing--6;
  }

  .nb7-lg {
    margin-bottom: -$spacing--7;
  }

  .nt1-lg {
    margin-top: -$spacing--1;
  }

  .nt2-lg {
    margin-top: -$spacing--2;
  }

  .nt3-lg {
    margin-top: -$spacing--3;
  }

  .nt4-lg {
    margin-top: -$spacing--4;
  }

  .nt5-lg {
    margin-top: -$spacing--5;
  }

  .nt6-lg {
    margin-top: -$spacing--6;
  }

  .nt7-lg {
    margin-top: -$spacing--7;
  }
}

@include breakpoint($bp--xlarge) {
  .na1-xl {
    margin: -$spacing--1;
  }

  .na2-xl {
    margin: -$spacing--2;
  }

  .na3-xl {
    margin: -$spacing--3;
  }

  .na4-xl {
    margin: -$spacing--4;
  }

  .na5-xl {
    margin: -$spacing--5;
  }

  .na6-xl {
    margin: -$spacing--6;
  }

  .na7-xl {
    margin: -$spacing--7;
  }

  .nl1-xl {
    margin-left: -$spacing--1;
  }

  .nl2-xl {
    margin-left: -$spacing--2;
  }

  .nl3-xl {
    margin-left: -$spacing--3;
  }

  .nl4-xl {
    margin-left: -$spacing--4;
  }

  .nl5-xl {
    margin-left: -$spacing--5;
  }

  .nl6-xl {
    margin-left: -$spacing--6;
  }

  .nl7-xl {
    margin-left: -$spacing--7;
  }

  .nr1-xl {
    margin-right: -$spacing--1;
  }

  .nr2-xl {
    margin-right: -$spacing--2;
  }

  .nr3-xl {
    margin-right: -$spacing--3;
  }

  .nr4-xl {
    margin-right: -$spacing--4;
  }

  .nr5-xl {
    margin-right: -$spacing--5;
  }

  .nr6-xl {
    margin-right: -$spacing--6;
  }

  .nr7-xl {
    margin-right: -$spacing--7;
  }

  .nb1-xl {
    margin-bottom: -$spacing--1;
  }

  .nb2-xl {
    margin-bottom: -$spacing--2;
  }

  .nb3-xl {
    margin-bottom: -$spacing--3;
  }

  .nb4-xl {
    margin-bottom: -$spacing--4;
  }

  .nb5-xl {
    margin-bottom: -$spacing--5;
  }

  .nb6-xl {
    margin-bottom: -$spacing--6;
  }

  .nb7-xl {
    margin-bottom: -$spacing--7;
  }

  .nt1-xl {
    margin-top: -$spacing--1;
  }

  .nt2-xl {
    margin-top: -$spacing--2;
  }

  .nt3-xl {
    margin-top: -$spacing--3;
  }

  .nt4-xl {
    margin-top: -$spacing--4;
  }

  .nt5-xl {
    margin-top: -$spacing--5;
  }

  .nt6-xl {
    margin-top: -$spacing--6;
  }

  .nt7-xl {
    margin-top: -$spacing--7;
  }
}
