
// Converted Variables


// Custom Media Query Variables


/*

   SKINS:PSEUDO

   Customize the color of an element when
   it is focused or hovered over.

 */

.hover-black:hover,
.hover-black:focus {
  color: $c-black;
}

.hover-near-black:hover,
.hover-near-black:focus {
  color: $c-near-black;
}

.hover-dark-gray:hover,
.hover-dark-gray:focus {
  color: $c-dark-gray;
}

.hover-mid-gray:hover,
.hover-mid-gray:focus {
  color: $c-mid-gray;
}

.hover-gray:hover,
.hover-gray:focus {
  color: $c-gray;
}

.hover-silver:hover,
.hover-silver:focus {
  color: $c-silver;
}

.hover-light-silver:hover,
.hover-light-silver:focus {
  color: $c-light-silver;
}

.hover-moon-gray:hover,
.hover-moon-gray:focus {
  color: $c-moon-gray;
}

.hover-light-gray:hover,
.hover-light-gray:focus {
  color: $c-light-gray;
}

.hover-near-white:hover,
.hover-near-white:focus {
  color: $c-near-white;
}

.hover-white:hover,
.hover-white:focus {
  color: $c-white;
}

.hover-black-90:hover,
.hover-black-90:focus {
  color: $c-black--90;
}

.hover-black-80:hover,
.hover-black-80:focus {
  color: $c-black--80;
}

.hover-black-70:hover,
.hover-black-70:focus {
  color: $c-black--70;
}

.hover-black-60:hover,
.hover-black-60:focus {
  color: $c-black--60;
}

.hover-black-50:hover,
.hover-black-50:focus {
  color: $c-black--50;
}

.hover-black-40:hover,
.hover-black-40:focus {
  color: $c-black--40;
}

.hover-black-30:hover,
.hover-black-30:focus {
  color: $c-black--30;
}

.hover-black-20:hover,
.hover-black-20:focus {
  color: $c-black--20;
}

.hover-black-10:hover,
.hover-black-10:focus {
  color: $c-black--10;
}

.hover-white-90:hover,
.hover-white-90:focus {
  color: $c-white--90;
}

.hover-white-80:hover,
.hover-white-80:focus {
  color: $c-white--80;
}

.hover-white-70:hover,
.hover-white-70:focus {
  color: $c-white--70;
}

.hover-white-60:hover,
.hover-white-60:focus {
  color: $c-white--60;
}

.hover-white-50:hover,
.hover-white-50:focus {
  color: $c-white--50;
}

.hover-white-40:hover,
.hover-white-40:focus {
  color: $c-white--40;
}

.hover-white-30:hover,
.hover-white-30:focus {
  color: $c-white--30;
}

.hover-white-20:hover,
.hover-white-20:focus {
  color: $c-white--20;
}

.hover-white-10:hover,
.hover-white-10:focus {
  color: $c-white--10;
}

.hover-inherit:hover,
.hover-inherit:focus {
  color: inherit;
}

.hover-bg-black:hover,
.hover-bg-black:focus {
  background-color: $c-black;
}

.hover-bg-near-black:hover,
.hover-bg-near-black:focus {
  background-color: $c-near-black;
}

.hover-bg-dark-gray:hover,
.hover-bg-dark-gray:focus {
  background-color: $c-dark-gray;
}

.hover-bg-dark-gray:focus,
.hover-bg-mid-gray:hover {
  background-color: $c-mid-gray;
}

.hover-bg-gray:hover,
.hover-bg-gray:focus {
  background-color: $c-gray;
}

.hover-bg-silver:hover,
.hover-bg-silver:focus {
  background-color: $c-silver;
}

.hover-bg-light-silver:hover,
.hover-bg-light-silver:focus {
  background-color: $c-light-silver;
}

.hover-bg-moon-gray:hover,
.hover-bg-moon-gray:focus {
  background-color: $c-moon-gray;
}

.hover-bg-light-gray:hover,
.hover-bg-light-gray:focus {
  background-color: $c-light-gray;
}

.hover-bg-near-white:hover,
.hover-bg-near-white:focus {
  background-color: $c-near-white;
}

.hover-bg-white:hover,
.hover-bg-white:focus {
  background-color: $c-white;
}

.hover-bg-transparent:hover,
.hover-bg-transparent:focus {
  background-color: transparent;
}

.hover-bg-black-90:hover,
.hover-bg-black-90:focus {
  background-color: $c-black--90;
}

.hover-bg-black-80:hover,
.hover-bg-black-80:focus {
  background-color: $c-black--80;
}

.hover-bg-black-70:hover,
.hover-bg-black-70:focus {
  background-color: $c-black--70;
}

.hover-bg-black-60:hover,
.hover-bg-black-60:focus {
  background-color: $c-black--60;
}

.hover-bg-black-50:hover,
.hover-bg-black-50:focus {
  background-color: $c-black--50;
}

.hover-bg-black-40:hover,
.hover-bg-black-40:focus {
  background-color: $c-black--40;
}

.hover-bg-black-30:hover,
.hover-bg-black-30:focus {
  background-color: $c-black--30;
}

.hover-bg-black-20:hover,
.hover-bg-black-20:focus {
  background-color: $c-black--20;
}

.hover-bg-black-10:hover,
.hover-bg-black-10:focus {
  background-color: $c-black--10;
}

.hover-bg-white-90:hover,
.hover-bg-white-90:focus {
  background-color: $c-white--90;
}

.hover-bg-white-80:hover,
.hover-bg-white-80:focus {
  background-color: $c-white--80;
}

.hover-bg-white-70:hover,
.hover-bg-white-70:focus {
  background-color: $c-white--70;
}

.hover-bg-white-60:hover,
.hover-bg-white-60:focus {
  background-color: $c-white--60;
}

.hover-bg-white-50:hover,
.hover-bg-white-50:focus {
  background-color: $c-white--50;
}

.hover-bg-white-40:hover,
.hover-bg-white-40:focus {
  background-color: $c-white--40;
}

.hover-bg-white-30:hover,
.hover-bg-white-30:focus {
  background-color: $c-white--30;
}

.hover-bg-white-20:hover,
.hover-bg-white-20:focus {
  background-color: $c-white--20;
}

.hover-bg-white-10:hover,
.hover-bg-white-10:focus {
  background-color: $c-white--10;
}

.hover-slate:hover,
.hover-slate:focus {
  color: $c-slate;
}

.hover-melt-blue:hover,
.hover-melt-blue:focus {
  color: $c-melt-blue;
}

.hover-deep-blue:hover,
.hover-deep-blue:focus {
  color: $c-deep-blue;
}

.hover-blue-gray:hover,
.hover-blue-gray:focus {
  color: $c-blue-gray;
}

.hover-red:hover,
.hover-red:focus {
  color: $c-red;
}

.hover-gold:hover,
.hover-gold:focus {
  color: $c-gold;
}

.hover-lime-green:hover,
.hover-lime-green:focus {
  color: $c-lime-green;
}

.hover-magenta:hover,
.hover-magenta:focus {
  color: $c-magenta;
}

.hover-purple:hover,
.hover-purple:focus {
  color: $c-purple;
}

.hover-bg-slate:hover,
.hover-bg-slate:focus {
  background-color: $c-slate;
}

.hover-bg-melt-blue:hover,
.hover-bg-melt-blue:focus {
  background-color: $c-melt-blue;
}

.hover-bg-deep-blue:hover,
.hover-bg-deep-blue:focus {
  background-color: $c-deep-blue;
}

.hover-bg-blue-gray:hover,
.hover-bg-blue-gray:focus {
  background-color: $c-blue-gray;
}

.hover-bg-red:hover,
.hover-bg-red:focus {
  background-color: $c-red;
}

.hover-bg-gold:hover,
.hover-bg-gold:focus {
  background-color: $c-gold;
}

.hover-bg-lime-green:hover,
.hover-bg-lime-green:focus {
  background-color: $c-lime-green;
}

.hover-bg-magenta:hover,
.hover-bg-magenta:focus {
  background-color: $c-magenta;
}

.hover-bg-purple:hover,
.hover-bg-purple:focus {
  background-color: $c-purple;
}

.hover-bg-inherit:hover,
.hover-bg-inherit:focus {
  background-color: inherit;
}
