
// Converted Variables


// Custom Media Query Variables


/*

   UTILITIES

   Media Query Extensions:
     -xs = not-small
     -sm  = medium
     -md  = large

*/

/* Equivalent to .overflow-y-scroll */
.overflow-container {
  overflow-y: scroll;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

@include breakpoint($bp--xsmall) {
  .center-xs {
    margin-right: auto;
    margin-left: auto;
  }
}

@include breakpoint($bp--small) {
  .center-sm {
    margin-right: auto;
    margin-left: auto;
  }
}

@include breakpoint($bp--medium) {
  .center-md {
    margin-right: auto;
    margin-left: auto;
  }
}

@include breakpoint($bp--large) {
  .center-lg {
    margin-right: auto;
    margin-left: auto;
  }
}

@include breakpoint($bp--xlarge) {
  .center-xl {
    margin-right: auto;
    margin-left: auto;
  }
}
